In [1]:
import pandas as pd

X_train = pd.read_csv("../data/X_train.csv",index_col=False)
X_test  = pd.read_csv("../data/X_test.csv",index_col=False)
y_train = pd.read_csv("../data/y_train.csv",index_col=False)
y_test  = pd.read_csv("../data/y_test.csv",index_col=False)

X_test_prod = pd.read_csv("../data/X_test_prod.csv",index_col=False)

In [2]:
X_train = X_train.drop(columns=['Unnamed: 0','SK_ID_CURR'])
X_test  = X_test.drop(columns=['Unnamed: 0','SK_ID_CURR'])

X_test_prod = X_test_prod.drop(columns=['Unnamed: 0','SK_ID_CURR'])

y_train = y_train.drop(columns='Unnamed: 0')
y_test  = y_test.drop(columns='Unnamed: 0')

In [3]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

def EncodeDataFramelabel(df : pd.DataFrame) -> pd.DataFrame:
    count=0
    for type in df.dtypes:
        if type != "int64" and type != "float64" :
            #print(type, count)
            df.iloc[:, count]= le.fit_transform(df.iloc[:, count])
        count = count+1
    return df

In [4]:
df = X_train.apply(le.fit_transform)
df

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,0,0,0,0,0,180,1167,1571,103,6,...,0,0,0,0,0,0,0,0,2,1
1,0,1,1,1,0,572,2317,5665,255,6,...,0,0,0,0,0,0,0,0,0,1
2,0,0,1,1,1,572,530,4353,50,6,...,0,0,0,0,0,0,0,0,0,0
3,0,1,1,1,0,1147,2247,5625,266,6,...,0,0,0,0,0,0,0,1,0,0
4,0,0,1,1,0,943,2868,5237,381,6,...,0,0,0,0,0,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150953,0,0,0,0,1,180,729,1869,67,6,...,0,0,0,0,0,0,0,0,2,2
150954,0,0,0,1,0,239,2160,6654,255,6,...,0,0,0,0,0,0,0,0,1,1
150955,0,1,1,1,1,709,530,4834,50,6,...,0,0,0,0,0,0,0,3,0,3
150956,0,0,0,0,0,839,3746,6832,469,6,...,0,0,0,0,0,0,0,0,0,0
150957,0,0,0,1,0,45,17,21,1,6,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
X_train = EncodeDataFramelabel(X_train)
X_test = EncodeDataFramelabel(X_test)

X_test_prod = EncodeDataFramelabel(X_test_prod)

In [ ]:
x = X_train.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
X_train = pd.DataFrame(x_scaled)

x_ = X_test.values
x__scaled = min_max_scaler.fit_transform(x_)
X_test = pd.DataFrame(x__scaled)

In [ ]:
X_test_prod = pd.DataFrame(min_max_scaler.fit_transform(X_test_prod.values))

In [ ]:
X_train.to_csv(path_or_buf="../data/X_train_ready.csv")
X_test.to_csv(path_or_buf="../data/X_test_ready.csv")

X_test_prod.to_csv(path_or_buf="../data/X_test_prod_ready.csv")

y_train.to_csv(path_or_buf="../data/y_train_ready.csv")
y_test.to_csv(path_or_buf="../data/y_test_ready.csv")